
<head>
  <title>Zé Ramalho Tribute Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        .content-box {
            border-color: lightgray;
            border-style: solid;
            border-radius: 10px;
        }
        h1 {
            color:white;
        }
        h2 {
            color:white;
        }
        h3 {
            color:white;
        }
        p {
            color:white;
        }
    </style>
    <div>
        <header><br><br><br></header>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-10 col-xs-10 content-box" style="background-color:black" >
                <h1><strong>Zé Ramalho</strong></h1>
                <h2>Composer and popular poet</h2>
                <image class="img-responsive content-box" src="http://www.jornalnopalco.com.br/wp-content/uploads/2017/01/z%C3%A9-ramalho.jpg"></image>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-xs-9 col-sm-10 text-center"><h3>Here's a time line of Zé Ramalho's life: </h3></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                    </div>
                    <div class="col-md-8 col-xs-8">
                    <ul class="list-group">
                            <li>
                                <p class="text-justify">
                                    <strong>1949</strong> - Zé Ramalho was born to Estelita Torres Ramalho, an elementary school teacher, and Antônio de Pádua Pordeus Ramalho, a Seresta performer. When he was two years old, his father drowned in a reservoir of the sertão, and he was then adopted by his grandfather.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1952</strong> - After spending most of his childhood in Campina Grande, his family moved to João Pessoa. He was expected to become a doctor.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1961</strong> - As soon as the family settled in João Pessoa, he took part of some Jovem Guarda performances, being influenced by Renato Barros, Leno e Lílian, Roberto Carlos & Erasmo Carlos, Golden Boys, The Rolling Stones, Pink Floyd and Bob Dylan.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1974</strong> - His first son, Christian, was born and he recorded his first album, Paêbirú along with Lula Côrtes through the label Rozenblit. Today the copies from this very rare vinyl are highly priced in the international collector's market.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1977</strong> - He recorded his second album, the self-titled Zé Ramalho.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1978</strong> - His second son, Wilson, was born.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1979</strong> - The third son, João (born to him and to his wife Amelinha), came along the third album, A Peleja do Diabo com o Dono do Céu (also referred to as Zé Ramalho II).
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1980</strong> - He then moved to Fortaleza, where he wrote and published his book "Carne de Pescoço" ("Neck Flesh").
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1981</strong> - The fourth album, A Terceira Lâmina, was released.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1982</strong> - He was released your fifth album called: A Força Verde.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1983</strong> - He broke up with Amelinha. After releasing his sixth album, Orquídea Negra.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1984</strong> - He got married with Roberta, Amelinha's cousin, and release the album Pra Não Dizer Que Não Falei de Rock (or Por Aquelas Que Foram Bem Amadas).
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1985</strong> - The mid eighties would witness a small decrease in Zé Ramalho's popularity.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1989</strong> - He kicked a cocaine habit.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1990</strong> - He performed in the United States for a Brazilian audience.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1991</strong> - His only sister, Goretti, died. Even though, he was able to record his eleventh album, Brasil Nordeste, and returned to his success times with the recording of the song "Entre a Serpente e a Estrela" for the soapopera "Pedra Sobre Pedra"
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1992</strong> - His fifth son, José, was born, and he released the twelfth album Frevoador.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1995</strong> - He had his first daughter born: Linda.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1996</strong> - He recorded the album O Grande Encontro live with his cousin Elba Ramalho (who had already re-recorded a very successful version of his song "Chão de Giz") and the well known MPB names Alceu Valença and Geraldo Azevedo. In the same year, he released his thirteenth album Cidades e Lendas.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>1997</strong> - The success of "O Grande Encontro" was so great that he decided to record it again in 1997 at the studio, this time without Alceu Valença though. The record sold 300,000+ copies, going Gold and Platinum. To celebrate his 20 years of career, he released the CD 20 Anos – Antologia Acústica. The record label Sony Music also released a box set containing three discs: one of rarities, one of duets and one of classics. Also to celebrate the 20 years, Brazilian author Luciane Alves released a book titled "Zé Ramalho – um Visionário do século XX" ("Zé Ramalho – a 20th Century Visionary"). Before the end of the millennium, another great hit: Admirável Gado Novo (first released in his second album in 1980) was the opening theme of the soap opera O Rei do Gado.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>2001</strong> - He then shared stage with Elba Ramalho in the Rock in Rio 3.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>2008</strong> - He released a compilation of rarities called Zé Ramalho da Paraíba, followed by another cover album: Zé Ramalho canta Bob Dylan - Tá tudo mudando, a tribute to the American musician.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>2012</strong> - Zé Ramalho created his own record label, Avôhai Music, through which he is releasing his first non-cover studio album since 2007: Sinais dos Tempos.
                                </p>
                            </li>
                            <li>
                                <p class="text-justify">
                                    <strong>2013</strong> - In September, Zé Ramalho performed at Rock in Rio with Brazilian thrash metal band Sepultura - the line-up was labeled as "Zépultura", a portmanteau of both artists' names.
                                </p>
                            </li>
                    </ul>
                      <h3>If you want know more visit his <a href="https://en.wikipedia.org/wiki/Z%C3%A9_Ramalho" target=_blank>wikipedia page.</a></h3>
                    </div>
                    <div class="col-md-2 col-xs-2"></div>    
                </div>
                
                
            </div>
            <div class="col-md-1 col-xs-1"></div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="embed-responsive embed-responsive-16by9 col-md-10 col-xs-10">            
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FUz0a2cl_RM?autoplay=1" frameborder="0"       allowfullscreen></iframe>
            </div>
            <div class="col-md-1 col-xs-1"></div>
        </div>
    </div>
    <br>
    
</body>
